<h1>Визуализация</h1>
<div>
    <form>
        <div id="colors">
            <div 
                *ngFor="let color of colors; let i = index" 
                id="color" 
                [style.height]="i==currentColor ? '40px':'20px' "
                [style.backgroundColor]="color" 
                (click)="colorChange(i)"
            ></div>
        </div>
    </form>
</div>
<div id="scroll">
    <div *ngIf="!tooManyLaminates" id="room" [style.aspect-ratio]="scale">
        <div
            *ngFor="let row of laminateRows; let rowIndex = index"
            id="laminate-rows"
            [style.height] = "row.width*100/this.room.height+'%'"
            >
                <div
                *ngFor="let laminate of row.laminates; let i = index"
                id="laminate"            
                [style.width] = "laminate.length*100/this.room.width+'%'"
                [style.height] = "'100%'"
                [style.backgroundColor]="laminate.color"
                (click)="laminateColorChange(laminate)"
                ></div>
        </div>
    </div>
    <div *ngIf="tooManyLaminates">
        <p>Слишком много плиток - измените настройки</p>
    </div>
</div>

