
#color{
    width: 20px;
    border-width:3px;
    border-style: groove;
}

#colors {
    display: flex;
}

#room{
    border-width: 1px; 
    border-color: black; 
    border-style: solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    object-fit: fill;
}

#laminate-rows{
    display:flex;
    flex-direction:row;
}

#laminate{
    border-width: 3px; 
    border-color: black; 
    border-style: groove;
    width: 100%;
}

#scroll{
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}